@{
    ViewData["Title"] = "Главная страница";
}
<div style="margin-right: 20px;
     width: 1112px;">
    <div style="background: #C4C4C4; border-radius:20px; padding:20px 35px; ">
        <p style="margin-bottom:10px">Топ 5 недели</p>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="display:inline-flex;">
                <div style="width:min-content;margin-right:30px">
                    <img src="~/img/Клинок рассекающий демонов.png" width="140" />
                    <p style="text-align:center">Клинок рассекающий демонов</p>
                </div>

            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="display:inline-flex;">
                <div style="width:min-content;margin-right:30px">
                    <img src="~/img/Клинок рассекающий демонов.png" width="140" />
                    <p style="text-align:center">Клинок рассекающий демонов</p>
                </div>

            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="display:inline-flex;">
                <div style="width:min-content;margin-right:30px">
                    <img src="~/img/Клинок рассекающий демонов.png" width="140" />
                    <p style="text-align:center">Клинок рассекающий демонов</p>
                </div>

            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="display:inline-flex;">
                <div style="width:min-content;margin-right:30px">
                    <img src="~/img/Клинок рассекающий демонов.png" width="140" />
                    <p style="text-align:center">Клинок рассекающий демонов</p>
                </div>

            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="display:inline-flex;">
                <div style="width:min-content;margin-right:30px">
                    <img src="~/img/Клинок рассекающий демонов.png" width="140" />
                    <p style="text-align:center">Клинок рассекающий демонов</p>
                </div>

            </div>
        </a>
    </div>
    <div style="background: #C4C4C4; border-radius:20px; padding:20px;margin-top:30px;">
        <p>Манги</p>

        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="display : flex;margin-bottom: 10px;">
                <img src="~/img/Клинок рассекающий демонов.png" width="140" />
                <div style="margin-left:15px">
                    <div style="display : flex">
                        <p style="text-align:center">Клинок рассекающий демонов</p>
                        <p style="text-align:center ; margin-left:10px">+16</p>
                    </div>
                    <div style="display : flex; align-items: center;">
                        <p style="text-align:center; align-items: center;">Жанры:</p>
                        <div style="background:#FF9417; margin-left:10px;padding:5px; border-radius:10px">
                            <p style="text-align:center ; color:white">Боевик</p>
                        </div>
                        <div style="background:#FF9417; margin-left:10px; padding:5px; border-radius:10px">
                            <p style="text-align: center;color: white">Сёнэн</p>
                        </div>
                        <div style="background:#FF9417;  margin-left:10px; padding:5px; border-radius:10px">
                            <p style="text-align:center; color:white">Приключение</p>
                        </div>
                    </div>
                    <div>
                        <p style="text-align:match-parent">10 лет назад, после того, как «Врата», соединившие реальный мир с параллельным, открылись, некоторые из людей получили силу охотиться на монстров внутри «Врат». Они известны как охотники. Однако не все охотники сильные. Меня зовут Сон Джин Ву — охотник E-ранга. Я тот, кто рискует своей жизнью в самых низких уровнях подземелья...</p>
                    </div>
                </div>
            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Index" style=" color: black;">
            <div style="display : flex;margin-bottom: 10px;">
                <img src="~/img/Клинок рассекающий демонов.png" width="140" />
                <div style="margin-left:15px">
                    <div style="display : flex">
                        <p style="text-align:center">Клинок рассекающий демонов</p>
                        <p style="text-align:center ; margin-left:10px">+16</p>
                    </div>
                    <div style="display : flex; align-items: center;">
                        <p style="text-align:center; align-items: center;">Жанры:</p>
                        <div style="background:#FF9417; margin-left:10px;padding:5px; border-radius:10px">
                            <p style="text-align:center ; color:white">Боевик</p>
                        </div>
                        <div style="background:#FF9417; margin-left:10px; padding:5px; border-radius:10px">
                            <p style="text-align: center;color: white">Сёнэн</p>
                        </div>
                        <div style="background:#FF9417;  margin-left:10px; padding:5px; border-radius:10px">
                            <p style="text-align:center; color:white">Приключение</p>
                        </div>
                    </div>
                    <div>
                        <p style="text-align:match-parent">10 лет назад, после того, как «Врата», соединившие реальный мир с параллельным, открылись, некоторые из людей получили силу охотиться на монстров внутри «Врат». Они известны как охотники. Однако не все охотники сильные. Меня зовут Сон Джин Ву — охотник E-ранга. Я тот, кто рискует своей жизнью в самых низких уровнях подземелья...</p>
                    </div>
                </div>
            </div>
        </a>

        <a asp-area="" asp-controller="Home" asp-action="CardMang" style=" color: black;">
            <div style="display : flex;margin-bottom: 10px;">
                <img src="~/img/Клинок рассекающий демонов.png" width="140" />
                <div style="margin-left:15px">
                    <div style="display : flex">
                        <p style="text-align:center">Клинок рассекающий демонов</p>
                        <p style="text-align:center ; margin-left:10px">+16</p>
                    </div>
                    <div style="display : flex; align-items: center;">
                        <p style="text-align:center; align-items: center;">Жанры:</p>
                        <div style="background:#FF9417; margin-left:10px;padding:5px; border-radius:10px">
                            <p style="text-align:center ; color:white">Боевик</p>
                        </div>
                        <div style="background:#FF9417; margin-left:10px; padding:5px; border-radius:10px">
                            <p style="text-align: center;color: white">Сёнэн</p>
                        </div>
                        <div style="background:#FF9417;  margin-left:10px; padding:5px; border-radius:10px">
                            <p style="text-align:center; color:white">Приключение</p>
                        </div>
                    </div>
                    <div>
                        <p style="text-align:match-parent">10 лет назад, после того, как «Врата», соединившие реальный мир с параллельным, открылись, некоторые из людей получили силу охотиться на монстров внутри «Врат». Они известны как охотники. Однако не все охотники сильные. Меня зовут Сон Джин Ву — охотник E-ранга. Я тот, кто рискует своей жизнью в самых низких уровнях подземелья...</p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
<div style="float:right ; background: #C4C4C4; border-radius:20px; padding:20px; margin-right:0px">
    <p>Популярные</p>

    <div style="float:left;">
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="width:min-content;">
                <img src="~/img/Клинок рассекающий демонов.png" height="250" />
                <p style="text-align:center">Клинок рассекающий демонов</p>
            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="width:min-content;">
                <img src="~/img/Клинок рассекающий демонов.png" height="250" />
                <p style="text-align:center">Клинок рассекающий демонов</p>
            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="width:min-content;">
                <img src="~/img/Клинок рассекающий демонов.png" height="250" />
                <p style="text-align:center">Клинок рассекающий демонов</p>
            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="width:min-content;">
                <img src="~/img/Клинок рассекающий демонов.png" height="250" />
                <p style="text-align:center">Клинок рассекающий демонов</p>
            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="CardMang" style="color: black;">
            <div style="width:min-content;">
                <img src="~/img/Клинок рассекающий демонов.png" height="250" />
                <p style="text-align:center">Клинок рассекающий демонов</p>
            </div>
        </a>
    </div>
</div>


