<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PDAManga</title>
    <!--
        Подлючение CSS файл к проекту
    -->
    <link href="~/css/css.css" rel="stylesheet" />
    <!--
        Подключение шрифта в проект
    -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="content-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none">
                    <img src="~/img/logo.png" class="logo" />
                </a>

                <div class="content-ul">
                    <ul>
                        <li>Каталог</li>
                        <li>Что почитать?</li>
                        <li><img src="~/img/лупа.png" width="17" height="17" style="margin-right:10px" />Поиск</li>
                    </ul>
                </div>
                <div class="authorization">
                    <a asp-area="content-1" asp-controller="Home" asp-action="Sign">
                        <p>Вход</p>
                    </a>
                    <a asp-area="content-2" asp-controller="Home" asp-action="Sign">
                        <p style="border: 1px solid white; border-radius: 10px; padding: 3px 10px;">Регистрация</p>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
    </footer>
</body>
</html>
