<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PDAManga</title>
    <!--
        Подлючение CSS файл к проекту    
    -->
    <link href="~/css/css.css" rel="stylesheet" />
    <!--
        Подключение шрифта в проект
    -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">

</head>
<body>
    <header>
    </header>

    <div class="container">
      @RenderBody()
    </div>

    <footer >
    </footer>
</body>
</html>
