<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PDAManga</title>
    <!--
        Подлючение CSS файл к проекту
    -->
    <link href="~/css/css.css" rel="stylesheet" />
    <!--
        Подключение шрифта в проект
    -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
   
    @*<div class="search hidden">
        <div class="search__container">
            <div class="search__inner autocomplete">
                <div class="search__input-wrap">
                    <div class="search__icon search__icon_left">
                        <img src="~/img/лупа - черная.png"  class="fa fa-search" />
                    </div>
                    <input type="text" class="search__input form__input autocomplete__input" placeholder="Поиск Манги">
                    <div class="search__icon search__icon_right search__icon_close" data-search-toggle="">
                        <svg><img src="~/img/close.png"/></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <header>
        <nav>
            <div class="content">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" class="logo" />
                </a>

                <div class="content-ul">
                    <ul>
                        <li>Каталог</li>
                        <li>Что почитать?</li>
                        <li><img src="~/img/лупа.png" width="17" height="17" style="margin-right:10px" />Поиск</li>
                    </ul>
                </div>
                <div class="authorization">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <p>Вход</p>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <p style="border: 1px solid white; border-radius: 10px; padding: 3px 10px;">Регистрация</p>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
    </footer>
</body>
</html>
